.text-container-div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .text-wrapper {
    height: 100%;
    width: 100%;
    background: var(--primary-color);
    border-radius: 20px;
  }

  .receiver-id-not-found {
    display: flex;
    justify-content: center;
  }

  .text-info {
    margin-top: 32px;
    font-size: 22px;
  }

  .message {
    position: relative;
    background-color: #4d426d;
    height: fit-content;
    width: fit-content;
    max-width: 65%;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    padding: 1rem;
    word-break: break-word;
    border-radius: 20px;

    .show-timestamp {
      font-size: 10px;
      position: relative;
      min-width: 48px;

      .timestamp {
        margin: 0;
        padding: 0;
        position: absolute;
        top: -5px;
        right: 0;
      }
    }
    .message-details{
      position: absolute;
      background-color: #4d426d;
      width: 50px;
      right: 0;
      top: 0;
      font-size: 12px;
      color: white;
      border-radius: 8px;
      padding: 2px;
      text-indent: 2px;
    }
  }

  .message-right-section {
    display: flex;
    justify-content: flex-end;

    .message{
      font-size: 20px;
      background-color: var(--secondary-color);
      color: #0D1F22;
    }
  }
  .message-left-section {
    display: flex;
    justify-content: flex-start;
  }

  .chat-section {
    height: 85%;
    overflow-y: scroll;
    
    .chat-inner-section {
      display: flex;
      flex-direction: column;
      gap: 14px;
      padding: 2rem 2rem 0 2rem;
    }
  }
  .chat-section::-webkit-scrollbar {
    width: 5px;
  }
}
