.navbar-wrapper {
  display: flex;
  justify-content: center;

  .navbar {
    background: var(--primary-color);
    height: 70px;
    width: 95%;
    border-radius: 8px;
    margin: 0px 0px 40px 0px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  }
  .nav-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }
  .profile-image {
    width: 50px;
    height: 70%;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .profile-section {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100%;
  }
  span.signup-btn {
    cursor: pointer;
  }
  img.user-image {
    height: 32px;
    width: 32px;
    cursor: pointer;
  }

  .user-dropdown-content {
    display: flex;
    position: absolute;
    top: 55px;
    left: 0px;
    padding: 10px 10px;
    background-color: rgb(167, 167, 167);
    border-radius: 8px;

    span {
      color: rgba(0, 0, 0, 0.8);
      cursor: pointer;
    }
    span:hover {
      color: white;
    }
  }
}
