.container-div {
  /* @apply flex flex-col w-full h-[100vh] justify-center items-center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .signup-wrapper {
    /* @apply flex flex-col w-[30%] bg-[#c5f3ff] gap-6 p-12 rounded-md; */
    display: flex;
    flex-direction: column;
    width: 30%;
    background: var(--primary-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    padding: 3rem;
    gap: 1.5rem;
    border-radius: 0.375rem;

    .input-section {
      height: 70px;
    }

    .signup-inputs {
      /* @apply flex flex-col gap-7; */
      display: flex;
      gap: 28px;
      height: 100%;

      .user-inputs {
        /* @apply border-red-400 outline-red-400 h-8 rounded; */
        outline: 2px solid rgb(168, 168, 168);
        border: none;
        height: 32px;
        border-radius: 0.25rem;
        text-indent: 0.5rem;
        width: 100%;
      }

      .user-inputs:focus {
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
        outline: 3px solid var(--secondary-color);
      }

      .name-section {
        /* @apply flex flex-col gap-3; */
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .username-section {
        /* @apply flex flex-col gap-3; */
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .image-upload-section {
        /* @apply flex flex-col gap-3; */
        display: flex;
        flex-direction: column;
        gap: 12px;

        .image-upload {
          display: flex;
          flex-direction: column;

          &::file-selector-button {
            padding: 5px 10px;
            border: none;
            border-radius: 10px;
            background-color: var(--secondary-color);
          }
        }
      }

      .image-preview-section {
        .image-preview {
          width: 100%;
          height: 130px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .inputs-left-section {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }
      .inputs-right-section {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
  .signup-btn-section {
    /* @apply rounded-lg flex items-center justify-center; */
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

    button.signup-btn {
      /* @apply bg-red-400 px-4 py-2 rounded-md; */
      background: var(--secondary-color);
      padding: 14px 18px;
      border-radius: 0.375rem;
      border: none;
      outline: none;
      cursor: pointer;
      width: 150px;
    }

    button.signup-btn:hover {
      /* @apply bg-red-200; */
      background: #f87171;
    }

    .password-section {
      /* @apply flex flex-col gap-3; */
      display: flex;
      flex-direction: column;
      gap: 12px;

      .password-input {
        position: relative;
        width: 100%;

        .eye-icon {
          position: absolute;
          right: 0.5rem;
          top: 55%;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
    }
  }

  .validation-msg {
    /* @apply text-red-600; */
    color: var(--error-color);
    font-size: 12px;
  }
  span.signin-btn {
    cursor: pointer;
    text-decoration: underline;
  }

  span.signin-btn:hover {
    color: #afafaf;
  }
}

@media screen and (max-width: 768px) {
  .signup-wrapper {
    width: 90% !important;
  }
}
