.text-container-div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .text-wrapper {
    height: 95%;
    width: 95%;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 8px;
  }

  .receiver-id-not-found {
    display: flex;
    justify-content: center;
  }

  .text-info {
    margin-top: 32px;
    font-size: 22px;
  }

  .message {
    background-color: rgb(99, 99, 99);
    height: fit-content;
    width: fit-content;
    max-width: 65%;
    display: flex;
    gap: 20px;
    align-items: flex-end;
    padding: 1rem;
    word-break: break-word;
    border-radius: 5px;

    .show-timestamp {
      font-size: 10px;
      position: relative;
      min-width: 48px;

      .timestamp{
        margin: 0;
        padding: 0;
        position: absolute;
        top: -5px;
        right: 0;
      }
    }
  }

  .message-right-section {
    display: flex;
    justify-content: flex-end;
  }
  .message-left-section {
    display: flex;
    justify-content: flex-start;
  }

  .chat-section {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 2rem;
    height: 80%;
    overflow-y: scroll;
  }
  .chat-section::-webkit-scrollbar {
    width: 5px;
  }
  .chat-box-section{
    position: relative;
    display: flex;
    align-items: end;
    height: 74px;
    
    .chat-box{
      width: 99.99%;
      height: 70%;
      border: none;
      background-color:rgb(99, 99, 99);
      color: whitesmoke;
      outline: 1px solid rgb(128, 128, 128);
      font-size: 20px;
      padding: 0;
      text-indent: 20px;
      border-radius: 0 0 8px 8px;
    }

    .chat-box:focus{
      transition: .1s ease-out;
      border: none;
      outline: 1px solid rgb(212, 212, 212);
    }

    .send-text{
      width: 70px;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      cursor: pointer;
      right: 0;
    }
  }
}
